:root {
    --nutrition-green: #10ad1d
}

.nutrition-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}

.nutrition-table thead tr {
    background-color: var(--nutrition-green);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.nutrition-table th {
    padding: 12px 15px
}

.nutrition-table td {

}

.nutrition-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.nutrition-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.nutrition-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--nutrition-green);
}