{% load  dictionaryTemplateFilter %}
{% load static %}

<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{% static 'data_loader/style.css' %}">
<head>
    <title>Ingredient Page</title>
</head>

<body>
    <h1> {{ food_desc }}</h1>
    <div class="nutrition-label-container">
            <h4 class="nutrition-facts-header">Nutrition Facts</h4><br/>
            <h6 class ="nutrition-serving-size">Serving Size ({{ nutrition|get_item:'serving_size' }})</h6>
            <h6 class ="calories-info">Calories: {{ nutrition|get_item:'calories' }}</h6>
            <table class="nutrition-table">
                <thead>
                    <tr>
                        <th>Nutrient</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Protein</td>
                        <td>{{ nutrition|get_item:'protein' }}</td>
                    </tr>
                    <tr>
                        <td>Fat</td>
                        <td>{{ nutrition|get_item:'fat' }}</td>
                    </tr>
                    <tr>
                        <td>Carbohydrates</td>
                        <td>{{ nutrition|get_item:'carbohydrates' }}</td>
                    </tr>
                </tbody>
            </table>
    </div>

</body>